.addEquip {
    h1 {
        font-size: 40px;
    }
    #input {
        width: 200px;
        height: 20px;
        border-style: groove;
        border-width: 3px;
        border-color: royalblue;
        margin: 10px;
    }
}